<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymerfire/firebase-app.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="./muni-monitor.html">
<link rel="import" href="./weather-forecast.html">
<link rel="import" href="./chartjs-chart.html">
<link rel="import" href="./twitter-user-stream.html">
<link rel="import" href="./clock-element.html">
<link rel="import" href="./weather-currently.html">
<link rel="import" href="./pixabay-img.html">
<link rel="import" href="./hub-fixture-document.html">
<link rel="import" href="./background-manager.html">
<link rel="import" href="./progress-meter.html">
<link rel="import" href="./system-status.html">

<dom-module id="canvas2-dashboard">
  <template>
    <style is="custom-style">
      .dashboard-wrapper {
        color: white;
      }

      .wrapper {
        width: 100%;
        margin: 0 auto;
      }

      .grid {
        margin: 0 0;
        padding: 0;
        column-gap: 2px;
        column-fill: auto;
        column-width: 400px;
        height: 100%;
      }

      .grid-item {
        /* background-color: #eee; */
        color: white;
        display: inline-block;
        margin: 0 0 1px;
        width: 100%;
        position: relative;
      }

      @media only screen and (min-width: 400px) {
        .grid {
          column-count: 2;
        }
      }

      @media only screen and (min-width: 700px) {
        .grid {
          column-count: 3;
        }
      }

      clock-element {
        --date-style: {
          font-size: 3em;
        };
        --time-style: {
          font-size: 4em;
          letter-spacing: -3px;
        };
      }

      weather-currently {
        --temperature-style: {
          font-size: 2em;
        }
      }

      muni-monitor {
        margin: 5px;
        width: 80%;
      }

      twitter-user-stream {
        text-align: right;
      }

      .dashboard-wrapper > * {
        position: absolute;
      }

      #center {
        width: 100%;
        text-align: center;
        top: 20%;
      }

      #center-wrapper {
        display: inline-block;
        position: relative;
      }

      #top-left {
        top: 0;
        left: 0;
        width: 50%;
      }

      #top-right {
        top: 0;
        right: 0;
      }

      #bottom-left {
        bottom: 0;
        left: 0;
        width: 50%;
      }

      #bottom-right {
        bottom: 0;
        right: 0;
      }


    </style>

    <template is="dom-if" if="[[hubSource == 'firebase']]">
      <firebase-app auth-domain="canvas2-d648a.firebaseapp.com"
        database-url="https://canvas2-d648a.firebaseio.com"
        api-key="AIzaSyDtDVxEYRO-33U7Wl0db_CIbd_7L1yqBC0"
        storage-bucket="canvas2-d648a.appspot.com"></firebase-app>

      <firebase-document path="/system" data="{{system}}"></firebase-document>
      <firebase-document path="/state/cloud-muni-monitor/sf-muni/KT/5728" data="{{muni}}"></firebase-document>
      <firebase-document path="/state/cloud-weather" data="{{weather}}"></firebase-document>
      <firebase-document path="/state/cloud-twitter-user-stream" data="{{twitterUserStream}}"></firebase-document>
    </template>
    <!--template is="dom-if" if="[[hubSource == 'fixture']]">
      <hub-fixture-document path="/state/muni-monitor/sf-muni/KT/5728" data="{{muni}}"></hub-fixture-document>
    </template-->

    <div class="dashboard-wrapper">

      <div id="center">
        <div id="center-wrapper">
          <clock-element></clock-element>
        </div>
        <div>
          <weather-currently state="{{weather.currently}}"></weather-currently>
        </div>
        <div class="forecast-summary">
          <span>[[weather.hourly.summary]]<br />
                [[weather.daily.summary]]
          </span>
        </div>
      </div>

      <div id="top-left">
        <system-status system="{{system}}" important='[{"appId": "cloud-muni-monitor", "updateFrequency": 120}, {"appId": "cloud-twitter-user-stream", "updateFrequency": 6000}]'></system-status>
      </div>

      <div id="top-right">
        <p></p>
      </div>

      <div id="bottom-left">
        <muni-monitor state="{{muni}}"></muni-monitor>
      </div>

      <div id="bottom-right">
        <twitter-user-stream state="{{twitterUserStream}}" num-tweets-to-display="1"></twitter-user-stream>
      </div>

    </div>

    <background-manager></background-manager>
  </template>
</dom-module>

<script>
Polymer({
  is: 'canvas2-dashboard',
  properties: {
    hubSource: {
      type: String,
      value: 'firebase'
    },
    attached: function() {
      var queryParams = location.search.slice(1).split('&');
    }
  }
});
</script>
