<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="/bower_components/moment/min/moment.min.js"></script>

<dom-module id="clock-element">
  <template>
    <style>
      .container {
        width: 100%;
        text-align: center;
      }

      .date {
        font-size: var(--date-font-size, 1.4em);
        opacity: 0.8;
        @apply(--date-style);
      }

      .time {
        font-size: var(--time-font-size, 1.8em);
        @apply(--time-style);
      }
    </style>
    <div class="container">
      <div class="date">[[date]]</div>
      <div class="time">[[time]]</div>
    </div>
  </template>
</dom-module>

<script>
Polymer({
  is: 'clock-element',
  ready: function() {
    setInterval(this.updateTime.bind(this), 1000);
  },
  updateTime: function() {
    this.date = moment().format('MMMM Do');
    this.time = moment().format('LTS');
  }
});
</script>
