<link rel="import" href="/bower_components/polymer/polymer.html">

<script>
Polymer({
  is: 'data-connection',
  properties: {
    data: {
      type: Object,
      notify: true,
      value: function() {
        return {
          muni: {
            predictions: [
              4*60,
              11*60,
              18*60
            ]
          }
        }
      }
    }
  },
  ready: function() {
    var db = firebase.database();
    var stateRef = db.ref('state');

    stateRef.on('value', function(snapshot) {
      this.transformStateToData(snapshot.val());
    }.bind(this));
  },
  transformStateToData: function(state) {
    var data = {};
    data.muni = {};
    data.muni.predictions = [];

    var muniPredictions = state['muni-monitor']['sf-muni']['KT']['5728'];

    for (var i = 0; i < muniPredictions.length; i++) {
      data.muni.predictions.push(muniPredictions[i]['seconds']);
    }

    this.data = data;
  }
})
</script>
