<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="./progress-meter.html">

<dom-module id="muni-monitor">
  <template>
    <style>
      :host {
        display: block;
      }

      .warning {
        background: #f1c40f;
      }
      .good {
        background: #27ae60;
      }
      .wait {
        background: #e74c3c;
      }

      .times {
        text-align: center;
      }

      #container {
        width: 100%;
        height: 100%;
        text-align: center;
      }

      h1, h2, h3, h4 {
        font-family: 'Roboto';
      }
    </style>

    <div id="container">
      <h1>Next Muni</h1>
      <!--div class="times">
        <template is="dom-repeat" items="[[missed]]">
          <h4>[[secondsToTime(item)]]</h4>
        </template>
        <h2>[[secondsToTime(closestGood)]]</h2>
        <template is="dom-repeat" items="[[next]]">
          <h4>[[secondsToTime(item)]]</h4>
        </template>
      </div-->

      <progress-meter id="meter" threshold-sizes="[[thresholdSizes]]" indicator-values="[12, 16, 23]" style="width: 100%; height: 50px;"></progress-meter>

    <div>
  </template>
</dom-module>

<script>
Polymer({
  is: 'muni-monitor',
  THRESHOLDS: {
    MISSED: 630,
    WARNING: 720,
    GOOD: 900
  },
  properties: {
    state: {
      type: Object
    },
    predictions: {
      type: Array,
      computed: '_computePredictionsFromState(state)',
      observer: '_setInterpolatedPredictions'
    },
    interpolatedPredictions: {
      type: Array,
      observer: 'respondToUpdatedPredictions'
    },
    status: {
      type: String
    },
    missed: {
      type: Array,
      value: function(){return []}
    },
    closestGood: {
      type: Number
    },
    next: {
      type: Array,
      value: function(){ return []}
    },
    thresholdSizes: {
      type: Array,
      value: function(){ return [720, 180, 900]}
    },
    indicatorValues: {
      type: Array,
      value: function(){}
    }
  },
  secondsToTime: function(seconds) {
    return Math.floor(seconds / 60) + ":" + ((seconds % 60) < 10 ? '0' + seconds % 60: seconds % 60);
  },
  respondToUpdatedPredictions: function() {
    var missed = [];
    var closestGood = 0;
    var next = [];
    var state = "";
    for(var i = 0; i < this.interpolatedPredictions.length; i++) {
      var prediction = this.interpolatedPredictions[i];
      if (prediction < this.THRESHOLDS.MISSED) {
        missed.push(prediction);
      }
      if (prediction >= this.THRESHOLDS.MISSED) {
        if (!closestGood) {
          closestGood = prediction;
        } else {
          next.push(prediction);
        }
      }
    }

    if (closestGood < this.THRESHOLDS.WARNING) {
      status = 'warning'
    } else if (closestGood < this.THRESHOLDS.GOOD) {
      status = 'good'
    } else {
      status = 'wait'
    }

    this.missed = missed;
    this.closestGood = closestGood;
    this.next = next;
    this.status = status;

    this._updateProgressMeter(this.interpolatedPredictions);
  },
  _updateProgressMeter: function(interpolatedPredictions) {
    console.log(interpolatedPredictions);
    // Cap at 30 minutes for indicator values;
    var indicatorValues = [];
    for(var i = 0; i < interpolatedPredictions.length; i++) {
      if (interpolatedPredictions[i] < 30*60) {
        indicatorValues.push(interpolatedPredictions[i])
      } else {
        indicatorValues.push(30*60);
      }
    }

    this.$.meter.indicatorValues = indicatorValues;
  },
  _computePredictionsFromState: function(state) {
    var predictions = [];


    for (var i = 0; i < state.length; i++) {
      predictions.push(state[i]['seconds']);
    }

    return predictions;
  },
  _setInterpolatedPredictions: function() {
    var interpolatedPredictions = [];
    for (var i = 0; i < this.predictions.length; i++) {
      interpolatedPredictions.push(this.predictions[i]);
    }
    this.interpolatedPredictions = interpolatedPredictions;
  },
  updateInterpolatedPredictions: function() {
    var interpolatedPredictions = [];

    for (var i = 0; i < this.predictions.length; i++) {
      interpolatedPredictions.push(this.interpolatedPredictions[i] - 1);
    }

    this.interpolatedPredictions = interpolatedPredictions;
  },
  ready: function() {
    setInterval(this.updateInterpolatedPredictions.bind(this), 1000);
  }
});
</script>
