<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="twitter-tweet">
  <template>
    <style>
      :host {
        width: 100%;
        display: block;
      }
      #tweet {
        width: 100%;
        border: 5px;
      }

      blockquote.twitter-tweet {
        display: inline-block;
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        /*border-color: #eee #ddd #bbb;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/
        margin: 10px 5px;
        padding: 0 16px 16px 16px;
        max-width: 468px;
      }

      blockquote.twitter-tweet p {
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        }

      blockquote.twitter-tweet a {
        color: inherit;
        font-weight: normal;
        text-decoration: none;
        outline: 0 none;
      }

      blockquote.twitter-tweet a:hover,
      blockquote.twitter-tweet a:focus {
        text-decoration: underline;
      }
    </style>

    <div id="tweet">
      <div id="tweetContent"></div>
      <div id="tweetMedia">
        <template is="dom-if" if="[[tweet.entities.media.length]]">
          <img width="[[width]]" src="[[tweet.entities.media.0.media_url_https]]" />
        </template>
      </div>
    </div>
  </template>
</dom-module>

<script>
Polymer({
  is: 'twitter-tweet',
  properties: {
    tweet: {
      type: Object,
      observer: '_tweetChanged'
    }
  },
  attached: function() {
    this.width = this.offsetWidth;
  },
  _tweetChanged: function(tweet) {
    if (tweet) {
      Polymer.dom(this.$.tweetContent).innerHTML = tweet.oembed.html;
    }
  }
});
</script>
